{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name wheel.font.google.config, :imports nil, :requires nil, :uses nil, :defs {base-url {:name wheel.font.google.config/base-url, :file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/1hfv/9txbbm/index.html.out/wheel/font/google/config.cljc", :line 3, :column 1, :end-line 3, :end-column 14, :meta {:file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/1hfv/9txbbm/index.html.out/wheel/font/google/config.cljc", :line 3, :column 6, :end-line 3, :end-column 14}, :tag string}}, :require-macros nil, :doc nil}