{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name pages.dim-valley, :imports nil, :requires {h hoplon.core, hoplon.core hoplon.core, layout.header-block layout.header-block, layout.content-block layout.content-block}, :uses nil, :defs {content {:protocol-inline nil, :meta {:file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/3t5/r3nb31/pages/dim_valley.cljs", :line 7, :column 7, :end-line 7, :end-column 14, :arglists (quote ([]))}, :name pages.dim-valley/content, :variadic false, :file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/3t5/r3nb31/pages/dim_valley.cljs", :end-column 14, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 7, :end-line 7, :max-fixed-arity 0, :fn-var true, :arglists (quote ([]))}}, :require-macros {h hoplon.core, hoplon.core hoplon.core}, :doc nil}