{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name pages.github, :imports nil, :requires {h hoplon.core, hoplon.core hoplon.core, layout.content-block layout.content-block}, :uses nil, :defs {content {:protocol-inline nil, :meta {:file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/4g1/r3nb31/pages/github.cljs", :line 6, :column 7, :end-line 6, :end-column 14, :arglists (quote ([]))}, :name pages.github/content, :variadic false, :file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/4g1/r3nb31/pages/github.cljs", :end-column 14, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 6, :end-line 6, :max-fixed-arity 0, :fn-var true, :arglists (quote ([]))}}, :require-macros {h hoplon.core, hoplon.core hoplon.core}, :doc nil}