{:rename-macros {}, :renames {}, :externs {Math {PI {}}}, :use-macros {}, :excludes #{}, :name wheel.math.number, :imports nil, :requires nil, :uses nil, :defs {pi {:name wheel.math.number/pi, :file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/1ici/9txbbm/index.html.out/wheel/math/number.cljc", :line 3, :column 1, :end-line 3, :end-column 8, :meta {:file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/1ici/9txbbm/index.html.out/wheel/math/number.cljc", :line 3, :column 6, :end-line 3, :end-column 8}, :tag js}}, :require-macros nil, :doc nil}