{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name menu.config, :imports nil, :requires nil, :uses nil, :defs {transition-length {:name menu.config/transition-length, :file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/3t5/r3nb31/menu/config.cljs", :line 3, :column 1, :end-line 3, :end-column 23, :meta {:file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/3t5/r3nb31/menu/config.cljs", :line 3, :column 6, :end-line 3, :end-column 23}}}, :require-macros nil, :doc nil}