{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name layout.config, :imports nil, :requires nil, :uses nil, :defs {spacer-height {:name layout.config/spacer-height, :file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/1a6/r3nb31/layout/config.cljs", :line 3, :column 1, :end-line 3, :end-column 19, :meta {:file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/1a6/r3nb31/layout/config.cljs", :line 3, :column 6, :end-line 3, :end-column 19}}, spacer-width {:name layout.config/spacer-width, :file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/1a6/r3nb31/layout/config.cljs", :line 4, :column 1, :end-line 4, :end-column 18, :meta {:file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/1a6/r3nb31/layout/config.cljs", :line 4, :column 6, :end-line 4, :end-column 18}}}, :require-macros nil, :doc nil}