{:rename-macros {}, :renames {}, :externs {jsyaml {load {}}}, :use-macros {}, :excludes #{}, :name animation.easings, :imports nil, :requires {cljsjs.js-yaml cljsjs.js-yaml, camel-snake-kebab.core camel-snake-kebab.core}, :uses nil, :defs {easings {:name animation.easings/easings, :file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/1ici/aixfad/animation/easings.cljs", :line 9, :column 1, :end-line 9, :end-column 13, :meta {:file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/1ici/aixfad/animation/easings.cljs", :line 9, :column 6, :end-line 9, :end-column 13}, :tag #{any clj-nil}}}, :require-macros {macros.slurp macros.slurp}, :doc nil}