{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name fonts.google-fonts, :imports nil, :requires {h hoplon.core, hoplon.core hoplon.core}, :uses nil, :defs {fonts {:protocol-inline nil, :meta {:file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/2mf/r3nb31/fonts/google_fonts.cljs", :line 4, :column 7, :end-line 4, :end-column 12, :arglists (quote ([fs]))}, :name fonts.google-fonts/fonts, :variadic false, :file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/2mf/r3nb31/fonts/google_fonts.cljs", :end-column 12, :method-params ([fs]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 1, :fn-var true, :arglists (quote ([fs]))}}, :require-macros {h hoplon.core, hoplon.core hoplon.core}, :cljs.analyzer/constants {:seen #{:rel :fallback :name :type :href}, :order [:name :fallback :href :rel :type]}, :doc nil}