{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name fonts.hoplon, :imports nil, :requires {fonts.config fonts.config}, :uses nil, :defs {font-map->css-map {:protocol-inline nil, :meta {:file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/dky/r3nb31/fonts/hoplon.cljs", :line 4, :column 7, :end-line 4, :end-column 24, :arglists (quote ([font-map]))}, :name fonts.hoplon/font-map->css-map, :variadic false, :file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/dky/r3nb31/fonts/hoplon.cljs", :end-column 24, :method-params ([font-map]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 1, :fn-var true, :arglists (quote ([font-map]))}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:fallback :name :font-family}, :order [:name :fallback :font-family]}, :doc nil}