{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name unit.conversion, :imports nil, :requires nil, :uses nil, :defs {n->px {:protocol-inline nil, :meta {:file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/1ggv/aixfad/unit/conversion.cljs", :line 3, :column 7, :end-line 3, :end-column 12, :arglists (quote ([n]))}, :name unit.conversion/n->px, :variadic false, :file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/1ggv/aixfad/unit/conversion.cljs", :end-column 12, :method-params ([n]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 3, :end-line 3, :max-fixed-arity 1, :fn-var true, :arglists (quote ([n]))}}, :require-macros nil, :doc nil}