{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name colours.config, :imports nil, :requires nil, :uses nil, :defs {gradient-name {:name colours.config/gradient-name, :file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/168p/aixfad/colours/config.cljs", :line 3, :column 1, :end-line 3, :end-column 19, :meta {:file "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/dim-valley/168p/aixfad/colours/config.cljs", :line 3, :column 6, :end-line 3, :end-column 19}, :tag string}}, :require-macros nil, :doc nil}